BODY {
    text-align: center;
    color: black;
    font-family: arial, sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
a:hover {
    text-decoration: underline;
}
label {
    font-size: 13px;
}
hr {
    border-top: 1px solid #ddd;
}
.blue {
    color: blue;
    font-family: "Product Sans", sans-serif;
    font-size: 88px;
    font-weight: 600;
}
.red {
    color: red;
    font-family: "Product Sans", sans-serif;
    font-size: 88px;
    font-weight: 600;
}
.yellow {
    color: yellow;
    font-family: "Product Sans", sans-serif;
    font-size: 88px;
    font-weight: 600;
}
.green {
    color: green;
    font-family: "Product Sans", sans-serif;
    font-size: 88px;
    font-weight: 600;
}
.small {
    font-size: 28px;
}
.links {
    text-align: right;
    padding: 10px;
}
.search_bar {
    width: 582px;
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 22px;
    padding: 8px 69px auto auto;
    margin: 25px auto;
}
div.search_bar:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
div.search_bar > input[type="text"] {
    width: 443px;
    height: 34px;
    border: transparent;
    font-size: 16px;
}
div.search_bar > input[type="text"]:focus {
    outline: none;
}
.adv_bar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;

}
input[type="submit"] {
    background-color: f8f9fa;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 10px 16px;
}
input[type="submit"]:hover {
    border: 1px solid #ccc;
}
.col1 {
    width: 168px;
    height: 42px;
    padding-top: 8px;
}
.col2 {
    width: 50%;
}
input.adv {
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 1px 8px;
}
input.adv:focus {
    outline-color: blue;
}
input[value="Advanced Search"] {
    border: 1px solid transparent;
    padding: 8px 12px;
    color: white;
    background-color: #4d90fe;
}
input[value="Advanced Search"]:hover {
    border: 1px solid blue;
}
.flex {
    display: flex;
}
.right{
    text-align: right;
}
#adv_form {
    margin-left: 30px;
}