{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    {% if listings %}
        <div class="row">
        {% for listing in listings %}
            <div class="col-3 mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{ listing.image_url|default:'/static/auctions/no_image.png' }}" class="card-img-top" alt="Listing image">
                    <div class="card-body">
                    <a href="{% url 'listing' id=listing.id %}"><h5 class="card-title">{{ listing.title }}</h5></a>
                    <p class="card-text">{{ listing.description|safe }}</p>
                    <h4>${{ listing.price|floatformat:2 }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        No listings in the watchlist.
    {% endif %}

{% endblock %}