.cubicle {
    margin: 5px 10px;
    padding: 10px;
    border: 1px solid #ddd;
}
.show {
    display: block;
}
.edit {
    display: none;
}
.fa-heart {
    font-size: 36px;
    color:red;
}
.fa-heart-o {
    font-size: 36px;
    color:black;
}
