{% extends "layout.html" %}

{% block title %}
Deposit
{% endblock %}

{% block main %}
        <div>
            <p>You have {{ cash }} on your account. Here you can deposit more.</p>
        </div>
        <form action="/deposit" method="POST">

                <input class="form-control mx-auto w-auto inline" autocomplete="off" autofocus placeholder="Amount in USD" name="deposit" type="text">

                <button class="btn btn-primary inline ml" type="submit">Deposit</button>

        </form>


{% endblock %}