{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
    <table class="table  table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th style="text-align: center" colspan="2">Price</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Date, time</th>
            </tr>
        </thead>
        <tbody>
                {% for i in entries %}
                    <tr>
                        <td class="text-start">{{ i["symbol"] }}</td>
                        <td class="text-end">{{ i["price"] }}</td>
                        <td class="{{ i['status'] }}">{{ i["delta"] }}</td>
                        <td class="text-end">{{ i["shares"] }}</td>
                        <td class="text-end">{{ i["created_at"] }}</td>
                    </tr>
                {% endfor %}
        </tbody>

    </table>

    {% endblock %}