{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    {% if text_length != 0 %}
    <div class="row mb-2">
        <div class="col-4">
            <h2 class="text-start">Text Statistics</h2>
            <div class="p-3 border">
            <table class="table">
                {% for i in results[0] %}
                    <tr>
                        <th class="text-start">{{ i[0] }}
                            {% if i[0] == 'Words adjusted' %}
                            <a href="#note" role="button"> (?)</a>
                            {% endif %}
                            {% if i[0] == 'Analysis options' %}
                            <a href="#options" role="button" id="selected"> (?)</a>
                            {% endif %}
                        </th>
                        <td class="text-start">{{ i[1] }}</td>
                    </tr>
                    {% endfor %}
            </table>
            </div>
        </div>
        <div class="col">
            <h2 class="text-start">Text Readability</h2>
            <div class="p-3 border">
            <table class="table">
                <tr>
                    <th class="text-start">Summary</th>
                    <td class="text-start" colspan="2">{{ results[3] }}</td>
                </tr>
                {% for j in results[1] %}
                <tr>
                    <th class="text-start">{{ j[0] }}</th>
                    <td class="text-start">{{ j[1][0] }}</td>
                    <td class="text-start">{{ j[1][1] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-start">
            <p id="note"><strong>Note:</strong> "Words adjusted" means the number of words counted with account of <a href="#selected">selected analysis options</a>, while "Words" means the number of raw words, where a raw word is any character or a group of characters separated by a space on both sides. All other characteritics shown are also considered to be adjusted and counted or calculated with account of selected options.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <div class="card text-center bg-light mb-3">
                <h2 class="card-header">Save text statistics and readability results</h2>
                <div class="card-body">
                    <p class="card-text">Enter the text name and click "Save" button to save the text analysis results for future reference. To use this feature, you must be <a href="/login">log in</a>. Saved text analysis results are available on <a href="/texts">My texts</a> page.</p>

                    <form action="/save" method="post" class="row col-6 m-auto">
                        <div class="input-group mb-3">
                        {% if session["username"] %}
                            <input type="text" class="form-control" placeholder="Text name" aria-label="Text name" aria-describedby="button-addon2" name="textname" required>
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Save</button>
                        {% else %}
                            <input type="text" class="form-control" placeholder="Text name" aria-label="Text name" aria-describedby="button-addon2" name="textname" disabled>
                            <button class="btn btn-secondary" type="button" id="button-addon2" disabled>Save</button>
                        {% endif %}
                        </div>
                        {% if textname_error %} <span style="line-height: 1em; font-size: 0.75em; color:red">{{ textname_error }}</span> {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h3 class="text-start">Words Distribution</h3>
            <div class="p-3 border">
                <table class="table">
                    <tr>
                        <th class="text-start">Length</th>
                        <th class="text-start">Count</th>
                        <th class="text-start">%</th>
                    </tr>
                    {% for k in word_distribution %}
                    <tr>
                        <td class="text-start">{{ k[0] }} letter(s)</td>
                        <td class="text-start">{{ k[1][0] }}</td>
                        <td class="text-start">{% set a = k[1][0] %} {% set b = results[0][1][1] %} {{ (a/b*100)|round(2) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col">
            <h3 class="text-start">Different Words Distribution</h3>
            <div class="p-3 border">
                <table class="table">
                    <tr>
                        <th class="text-start">Length</th>
                        <th class="text-start">Count</th>
                        <th class="text-start">%</th>
                    </tr>
                    {% for k in word_distribution %}
                    <tr>
                        <td class="text-start">{{ k[0] }} letter(s)</td>
                        <td class="text-start">{{ k[1][1] }}</td>
                        <td class="text-start">{% set a = k[1][1] %} {% set b = results[1][2][1][0] %} {{ (a/b*100)|round(2) }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="card text-center bg-light mb-3">
                <h3 class="card-header">Show Words</h3>
                <div class="card-body">
                    <form action="/show_words" method="post" class="m-auto">
                        <input class="mx-2" type="radio" id="all" name="wnum" value="all" checked>
                        <label for="all">All</label> or
                        <input class="mx-2" type="radio" id="first" name="wnum" value="num">
                        <label for="first">first</label>
                        <input class="mx-2" type="number" name="num" placeholder="Enter number" min="1">words sorted by
                        <select  class="mx-2" id="so" name="sort_by">
                            <option value="alphabet">alphabet</option>
                            <option value="occurrence">occurrence</option>
                            <option value="length">length</option>
                            <option value="syllables">number of syllables</option>
                        </select>
                        in
                        <input class="mx-2" type="radio" id="ao" name="sort_order" value="ascending">
                        <label for="ao">ascending</label>
                        or
                        <input class="mx-2" type="radio" id="do" name="sort_order" value="descending" checked>
                        <label for="do">descending</label> order.
                        <div class="mt-2">
                            <button class="btn btn-secondary" type="submit">Show</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if words_sorted %}
    <div class="row mb-5">
        <div class="col">
            <h3 class="text-start">Words</h3>
            <div class="p-3 border">
                <table class="table">
                    <tr>
                        <th class="text-start">#</th>
                        <th class="text-start">Words</th>
                        <th class="text-start">Occurence</th>
                        <th class="text-start">Length</th>
                        <th class="text-start">Syllables</th>
                    </tr>
                    {% for m in words_sorted %}
                    <tr>
                        <td class="text-start">{{ loop.index }}</td>
                        <td class="text-start">{{ m[0] }}</td>
                        <td class="text-start">{{ m[1][0] }}</td>
                        <td class="text-start">{{ m[1][1] }}</td>
                        <td class="text-start">{{ m[1][2] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% endif %}

    <div class="row mb-5">
        <div class="col">
            <div class="card text-center bg-light mb-3">
            <h2 class="card-header">Analyse text</h2>
                <div class="card-body px-4">
                    <p class="card-text">You can use this text analyser to analyse texts up to 1,000 characters. To analyse longer texts, you must <a href="/register">register</a> and/or <a href="/login">log in</a>.
                    You may also take advantage of various <a href="#options">text analysis options</a> found below to fine tune your analysis.</p>
                    <form action="/" method="post" class="form" id="analyse">
                        <textarea class="form-control" name="text" rows="15" placeholder="Please type or paste your text here" required {% if not session["username"] %} maxlength="1000" {% endif %}>{% if text %} {{ text }} {% endif %}</textarea>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <strong>Words</strong>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col text-center">
                                <input class="me-2" type="checkbox" id="iw1" name="w1" value="w1" checked>
                                <label for="iw1">Ignore "zero-length words" <a href="#w1" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="checkbox" id="iw2" name="w2" value="w2" checked>
                                <label for="iw2">Split compound words <a href="#w2" role="button">(?)</a></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <strong>Syllables</strong>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col text-center">
                                <input class="me-2" type="radio" id="isy1" name="sy_option" value="sy1">
                                <label for="isy1">Dictionary <a href="#sy1" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="isy2" name="sy_option" value="sy2">
                                <label for="isy2">Algorithm <a href="#sy2" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="isy3" name="sy_option" value="sy3" checked>
                                <label for="isy3">Combo <a href="#sy3" role="button">(?)</a></label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <strong>Sentences</strong>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col text-center">
                                <input class="me-2" type="radio" id="is1" name="s_option" value="s1" checked>
                                <label for="is1">Need capital letter <a href="#s1" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="is2" name="s_option" value="s2">
                                <label for="is2">Quotes enough <a href="#s2" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="is3" name="s_option" value="s3">
                                <label for="is3">Count them all <a href="#s3" role="button">(?)</a></label>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center">
                                <strong>Numbers</strong>
                            </div>
                        </div>
                        <div class="row mt-1 mb-4">
                            <div class="col text-center">
                                <input class="me-2" type="radio" id="in1" name="n_option" value="n1">
                                <label for="in1">Ignore numbers <a href="#n1" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="in2" name="n_option" value="n2" checked>
                                <label for="in2">One number - one word <a href="#n2" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="in3" name="n_option" value="n3">
                                <label for="in3">Digit by digit <a href="#n3" role="button">(?)</a></label>
                                <input class="ms-4 me-2" type="radio" id="in4" name="n_option" value="n4">
                                <label for="in4"> Normal reading <a href="#n4" role="button">(?)</a></label>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-secondary" value="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto text-start">
            <h3 class="text-center" id="options">Text Analysis Options</h3>
            <h4>Words</h4>
            <h6 id="w1">Ignore “zero-length words” (w1)</h6>
            <p>Allows to avoid including zero-length words in readability calculations. The zero-length word means a non-readable character or a group of characters, other than letters or digits (e.g., dash “–“, ellipse “…”), separated by a space on both sides. During processing these characters are removed leaving a word of zero length. This option is highly recommended.</p>
            <h6 id="w2">Split compound words (w2)</h6>
            <p>Allows splitting compound words that contain a hyphen (e.g., “flower-pot” will be processed as “flower” and “pot”). It avoids including such compound words in readability calculations as some readability calculation algorithms (e.g., Gunning-Fog Index) require.</p>
            <h4>Syllables</h4>
            <h6 id="sy1">Dictionary (sy1)</h6>
            <p>Syllables are counted by referencing data from the <a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict">Carnegie Mellon dictionary</a>, which includes over 134,000 words with accurate syllable counts. If a word is not in the dictionary, the number of syllables is assumed to be one.</p>
            <h6 id="sy2">Algorithm (sy2)</h6>
            <p>Syllables are counted using an <a href="https://medium.com/@mholtzscher/programmatically-counting-syllables-ca760435fab4">algorithm</a> proposed by Michael Holtzscher.</p>
            <h6 id="sy3">Combo (sy3)</h6>
            <p>This option combines the above two. First, the dictionary is requested. If a word is not found in the dictionary, the number of syllables is calculated using the algorithm.</p>
            <h4>Sentences</h4>
            <h6 id="s1">Need capital letter (s1)</h6>
            <p>In addition to other requirements, a sentence is counted only if a word following a punctuation sign (“.”, “?”, “!”) starts with a capital letter (e.g., <span class="fst-italic">'I wonder how many miles I've fallen by this time?' she said aloud.’</span> will be counted as one sentence).</p>
            <h6 id="s2">Quotes enough (s2)</h6>
            <p>In contrast to the above option, this one assumes that any kind of quotes or brackets following a punctuations sign (“.”, “?”, “!”) is enough to count a sentence (e.g., <span class="fst-italic">'I wonder how many miles I've fallen by this time?' she said aloud.’</span> will be counted as two sentences).</p>
            <h6 id="s3">Count them all (s3)</h6>
            <p>Any occurrence of a punctuation sign (“.”, “?”, “!”) or a group of such signs is counted as a sentence.</p>
            <h4>Numbers</h4>
            <h6 id="n1">Ignore numbers (n1)</h6>
            <p>Allows to avoid including numbers in readability calculations.</p>
            <h6 id="n2">One number - one word (n2)</h6>
            <p>Allows processing each number as one word that contains one syllable (e.g., “1,345,617.304” will be processed as “1,345,617.304” giving one long word with one syllable).</p>
            <h6 id="n3">Digit-by-digit (n3)</h6>
            <p>Allows processing each number as a sequence of digits (e.g., “1,345,617.304” will be processed as “one three four five six one seven point three zero four”, i.e. a total of 11 words).</p>
            <h6 id="n4">Normal reading (n4)</h6>
            <p>Allows processing each number as a human would read it (e.g., “1,345,617.304” will be processed as “one million three hundred forty five thousand six hundred seventeen point three zero four”, i.e. a total of 14 words).</p>
        </div>
    </div>

{% endblock %}


