{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h2>Log in</h2>
<form action="/login" method="post" class="row col-4 text-start mx-auto">
    <div class="mb-3">
        <label for="username" class="form-label">User name</label>
        <input type="text" class="form-control" id="username" name="username" required>
        {% if username_error %} <span style="line-height: 1em; font-size: 0.75em; color:red">{{ username_error }}</span> {% endif %}
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
        {% if password_error %} <span style="line-height: 1em; font-size: 0.75em; color:red">{{ password_error }}</span> {% endif %}
    </div>
    <div class="text-center">
        <button class="btn btn-secondary" type="submit" id="login">Log in</button>
    </div>
</form>

<script>
    """Restore input values after page reload"""
    // Get the text fields that we're going to track
    let username = document.getElementById("username");

    // See if we have saved values and restore the contents
    if (sessionStorage.getItem("username_save")) {
    username.value = sessionStorage.getItem("username_save");
    }

    // Listen for changes in the text fields and save the contents
    username.addEventListener("change", () => {
    sessionStorage.setItem("username_save", username.value);
    });
</script>

{% endblock %}
