{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="POST">
        <select class="form-select inline" name="symbol" style="width: 20%">
            <option selected>Select symbol</option>
            {% for i in symbols %}
                <option>{{ i["symbol"] }}</option>
            {% endfor %}
        </select>
        <input class="form-control mx-auto w-auto inline ml" autocomplete="off" placeholder="Shares" name="shares" type="text">
        <button class="btn btn-primary inline ml" type="submit">Sell</button>
    </form>

{% endblock %}